<h1>Thank you for shopping with us <%=current_user.email %>!</h1>

<p>Here is your order summary</p>

<% @order.order_items.each do |k,v| %>
  <ul>
    <li><%= Product.find(k).name %>, <%= v %></li>
  </ul>
<% end %>




<h4>Cart total: <%= number_to_currency @order.grand_total %></h4>	